doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
		title= title
		// Custom styles for this template
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/dashboard.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')=siteName
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#') Dashboard
						li
							a(href='#') Settings
						li
							a(href='#') Profile
						li
							a(href='#') Help
					form.navbar-form.navbar-right
						input.form-control(type='text', placeholder='Search...')
		.container-fluid
			.row
				.col-sm-3.col-md-2.sidebar
					ul.nav.nav-sidebar#mainMenu
						li.active
							a(href='#', name="#Wishes") All Wishes
						li
							a(href='#', name="#Users") All Users
						li
							a(href='#', name="#Institutions") Institutions
						li
							a(href='#') Export
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					h1.page-header TeacherTree Dashboard
					#Wishes.page.showMe
						h2.sub-header All Wishes
						include ../partials/tree_wishes
					#Institutions.page
						h2.sub-header Institutions
						table.table
							thead
								th Name
								th Location
								th Website
							each i in institutions
								tr
									td= i.name
									td= i.location
									td= i.website
						label Create New Institution
						form(action="/createInstitution" method="post")
							input#csrf(type='hidden', name='_csrf', value=_csrf)
							each att in ['name','location','website','shippingAddress']
								.input-group
									span#basic-addon3.input-group-addon= att
									input.form-control(type='text', name=att,id=att)
							button.btn.btn-primary#submitNews(type='submit') Submit
					#BetaSignups.page
						h2.sub-header Beta Signups
						ul#betaSignups
							if betaEmails
								each email in betaEmails
									li
										a(href="mailto:#{email.email}" target="_new")= email.email
					#Users.page
						h2.sub-header Users
						.table-responsive
							table.table.table-striped
								thead
									tr
										th Name
										th Email
										th Username
										th Location
										th Admin
								tbody
									each u in users
										tr
											td= u.name
											td= u.email
											td= u.username
											td= u.location
											td= u.admin
		script(src='/js/jquery-2.2.0.min.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/adminUI.js')
		!= LRScript