link(rel='stylesheet', href='/css/lib/tagmanager.css')
link(rel='stylesheet', href='/css/lib/bootstrap-slider.css')
form#wishForm.form-horizontal(name="newWish",action="/wishes", data-toggle="validator", role="form")
	input#csrf(type='hidden', name='_csrf', value=_csrf)
	input#ownerId.debugHide( name='ownerId', value=user.editWish.ownerId||user.id)
	input#wishId(type='hidden', value=user.editWish.id)
	input.debugHide(name='ownerName', value=user.editWish.ownerName||user.username)
	
	.container(style='margin-top:30px')
		.col-md-10
			.panel.panel-default
				.panel-heading
					h3.panel-title
						strong New Wish
				.panel-body
					.panel.panel-info
						.panel-body
							i.fa.fa-question &nbsp;
							span#helpText To get started, paste the link to the item you wish or type in the store name
					.form-group
						label.col-sm-3.control-label(for='URL')
							#spinner.fa.fa-circle-o-notch.fa-spin(style="display:none")
							| URL
						.col-sm-9
							input#wishURL.tipInput.form-control(name="URL", title="Paste a URL here, the title field will fill with the target page's title to make it easier.", type="text", placeholder="Enter a URL",value=user.editWish.linkURL)
					.form-group
						label.col-sm-3.control-label(for='storeName') Store Name
						.col-sm-9
							input#storeName.tipInput.form-control(name="storeName", title="Enter the name of the store where you can find this wish.", type="text", placeholder="Store Name",value=user.editWish.storeName)
	
					#2.guide.form-group
						label.col-sm-3.control-label(for='title') Title
						.col-sm-9
							input#wishTitle.tipInput.form-control(name="title", title="What is this wish for?", type="text", placeholder="Title of wish", value=user.editWish.title, data-error="This is required." required)
							.help-block.with-errors
					#3.guide.form-group
						label.col-sm-3.control-label(for="urgency") Wish type
						.col-sm-9
							span.input-group-btn
								button.wishTypeBtns.btn.tipInput(title="This is essential for my class.", type='button', value='need' ) Need
								button.wishTypeBtns.btn.tipInput(title="This would be nice to have.", type='button', value='want',class='btn-success' ) Want
								button.wishTypeBtns.btn.tipInput(title="Oh I couldn't possibly, that would be most kind.", type='button', value='treat') Treat
					#3a.guide.form-group
						label.col-sm-3.control-label(for="urgency") Urgency
						.col-sm-9
							input#urgency.tipInput(title="How urgently do you need this?",name="urgency",data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='100', data-slider-step='1', data-slider-value='50')
						
					#3b.guide.form-group
						label.col-sm-3.control-label(for='neededBefore') Needed Before
						#neededBy.date.col-sm-9
							.input-group
								.tipInput#neededBefore( title="When do you need this delivered by?")
								input#neededBeforeDate(type="hidden",name="neededBefore")
					#4.guide.form-group
						label.col-sm-3.control-label(for='description') Add further description
						.col-sm-9
							input#description.tipInput.form-control(name="description", title="Add more information about this wish.", type="text", placeholder="Enter more information if needed.",value=user.editWish.description)
					#4a.guide.form-group
						label.col-sm-3.control-label(for='imageURL') Image URL
						.col-sm-9
							input#imageURL.form-control(name="imageURL", type="text", aria-label="...", placeholder="Link to an image for this wish",value=user.editWish.imageURL)
					#addWrap.guide.form-group
						.col-sm-3
						.col-sm-9
							button#add.btn.btn-success.btn-lg(type='submit')
								i.fa.fa-plus-circle 
								| Submit Wish
					.input-group.debugHide
						.input-group-btn
							select#gradeList.tipInput(name="forGrade", title="Select which grades this wish is for.",multiple="multiple")
								each grade in gradeList
									option(value=grade)=grade
						input#gradeVal(type='hidden', value='',,value=user.editWish.forGrade)
						input#className.tipInput.form-control(name="className", title="Enter the name of the class this wish is for, enter multiple class names separated by commas.", type="text", aria-label="...", placeholder="What class is it for?",value=user.editWish.className)
					input#schoolName.debugHide.tipInput.form-control.debugHide(name="schoolName", title="What school is this for?", type="text", placeholder="Name of school.",value=user.schoolName)
					input#tags.form-control.debugHide(data-role="tagsinput", type="text", aria-label="...", placeholder="Enter some tags for this wish")
					input#wishUPC.hidden.form-control(name="UPC", type="text", placeholder="UPC or ISBN code",value=user.editWish.tags)
					.form-group.hidden
						label.col-md-4.control-label(for='notes') Notes
						textarea#textarea.form-control(name="notes")
					#status
					#next.btn.btn-success(style="display:none")
						i.fa.fa-plus-circle 
						| Next
					if user.editWish
						button#update.btn.btn-success
							i.fa.fa-plus-circle
							| Update
						dl.debugHide(style="display:none")
							each val, key in wish.rawAttributes
								dt= key
								dd= wish[key]
					else
						button#add.btn.btn-success.guide(type='submit')
							i.fa.fa-plus-circle 
							| Add
					.debugHide
						#test.btn.btn-success(type='submit')
							i.fa.fa-plus-circle 
							| test