extends layout

block content
	if !user
		h1 Please <a href="/login">login</a>
	else
		.row
			.col-md-4
				.thumbnail(style='padding: 0')
					div(style='padding:4px')
						img(alt='300x200', style='width: 100%', src='http://placehold.it/200x150')
					.caption
						- var c=5
						if user.name
							h2= user.name
						else
							- c--
						if user.bio
							p= user.bio
						else
							- c--
						if user.location
							p
								i.fa.fa-map-marker
								| #{user.location}
						else
							- c--
						if user.schoolName
							p
								i.fa.fa-pencil
								| #{user.schoolName}
						else
							- c--
						if user.website
							p
								i.fa.fa-external-link
								a(href=user.website, target="_new") Visit website
						else
							- c--
						//- This needs fixing so it only shows up if user is page's owner
						if (c < 3 && user)
							label Finish filling out your profile
							.progress
								.progress-bar(role='progressbar', aria-valuenow=c, aria-valuemin='0', aria-valuemax='6', style='width: #{c/6*100}%')
						
						.panel.panel-warning
							.panel-heading
								.panel-title Info
							.panel-body This is each teacher's personal, parent-facing page, this is where most people will land when visiting a link from a teacher.
					.modal-footer(style='text-align: left').notYet
						.progress
							.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
								span.sr-only 60% Complete
						.row
							.col-md-4
								b 2
								br
								small WISHES
							.col-md-4
								b 1
								br
								small FULFILLED
							.col-md-4
								b 1d ago
								br
								small ACTIVE

			.col-md-8
				#pugWishes
					include partials/tree_wishes.jade	
block footer
		script(src='/js/lib/bootstrap-datepicker.min.js')
		script(src='/js/lib/tagmanager.js')
		script(src='/js/lib/moment.js')
		script(src='/js/lib/is.min.js')
		script(src='/js/wishUI.js')