extends layout

block content
	if !userInfo
		h1 Please <a href="/login">login</a>
	else
		.row
			.col-md-4
				.thumbnail(style='padding: 0')
					div(style='padding:4px')
						#secondaryImageWrap
							img(alt='300x200', style='height:260px', src=(userInfo.hasSecondaryImage == true ? siteURL+'img/s/'+userInfo.id+'.jpg' : 'http://placehold.it/200x150'))
						if userInfo.hasProfileImage
							img#profileImage.img-circle(width=128 height=128 src=(siteURL+'img/p/'+userInfo.id+'.jpg'))
					.caption
						- var c=5
						if userInfo.name
							h2= userInfo.name
						else
							- c--
						if userInfo.bio
							p= userInfo.bio
						else
							- c--
						if userInfo.location
							p
								i.fa.fa-map-marker
								| #{userInfo.location}
						else
							- c--
						if userInfo.schoolName
							p
								i.fa.fa-pencil
								| #{userInfo.schoolName}
						else
							- c--
						if userInfo.website
							p
								i.fa.fa-external-link
								a(href=userInfo.website, target="_new") Visit website
						else
							- c--
						//- This needs fixing so it only shows up if user is page's owner
						if (c < 3 && user)
							label Finish filling out your profile
							.progress
								.progress-bar(role='progressbar', aria-valuenow=c, aria-valuemin='0', aria-valuemax='6', style='width: #{c/6*100}%')
						
						.panel.panel-warning
							.panel-heading
								.panel-title Info
							.panel-body This is each teacher's personal, parent-facing page, this is where most people will land when visiting a link from a teacher.
					.modal-footer(style='text-align: left').notYet
						.progress
							.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
								span.sr-only 60% Complete
						.row
							.col-md-4
								b 2
								br
								small WISHES
							.col-md-4
								b 1
								br
								small FULFILLED
							.col-md-4
								b 1d ago
								br
								small ACTIVE

			.col-md-8
				#pugWishes
					include partials/tree_wishes.jade	
block footer
		script(src='/js/lib/bootstrap-datepicker.min.js')
		script(src='/js/lib/tagmanager.js')
		script(src='/js/lib/moment.js')
		script(src='/js/lib/is.min.js')
		script(src='/js/wishUI.js')